<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Messages</title>
	</head>
	<body>
		<%- include('./components/header.ejs') %>
		<main class="messages">
			<% locals.messages.forEach(message => { %>
			<div class="message">
				<h3><%- message.user %></h3>
				<p><%- message.user %></p>
				<i><%- message.added %></i>
			</div>
			<% }) %>
		</main>
	</body>
</html>
